    body {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        background-image: url("./lightning.jpg");
    }

    .box{
        width: 450px;
        height: auto;
        margin: auto;
        margin-top: 8%;
    }

    #menu {
        display: flex;
        justify-content: start;
    }
    #menu>h2 {
        padding-top: 20px;
    } 

    #menu>button {
        width: 25%;
        height: 40px;
        background-color: red;
        display: block;
        margin-left: 10px;
        margin-top: 2px;
        border-radius: 25px;
        border: 0px;
    }

    #menu>input {
        width: 55%;
        height: 40px;
        border-radius: 25px;
        padding-left: 20px;
        border: 0px;
        background-color: white;
    }

    #menu>button:hover{
        background-color: rgb(195, 34, 34);
    }

    .main{
        display: flex;
        padding-left: 10%;
        margin-top: 20px;
    }
    #container > p{
        font-size: 1.8rem;
        color: white;
    }
    
